<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calculatorwithazure-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7df39403-ec78-4994-bebb-c2af0b40f798/resourceGroups/Calculator/providers/Microsoft.Web/sites/CalculatorWithAzure-func</ResourceId>
    <UserName>$CalculatorWithAzure-func</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://calculatorwithazure-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>